<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>me.rosalia.evernote-todo</string>
    <key>ProgramArguments</key>
    <array>
        <string>java</string>
        <string>-jar</string>
        <string>/Users/jesse/Development/src/evernote/evernote-todo/target/uberjar/evernote-todo-0.1.0-SNAPSHOT-standalone.jar</string>
        <string>/Users/jesse/Development/src/evernote/evernote-todo/</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>6</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/jesse/evernote-todo.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jesse/evernote-todo.log</string>
</dict>
</plist>


